<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Arithmo</title>
    <meta name="description" content="">
    <meta name="author" content="arithmo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/tyle.css') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>

    <!-- Primary Page Layout -->
    <div class="container">
        <div class="row">
            <div class="column">
                <h2>Arithmo</h2>
                <div class="metanav">

                </div>
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <footer>Arithmo © 2017</footer>
</body>
</html>