{% extends "layout.html" %}
{% block body %}
    {% if not session.logged_in %}
        <form action="/setup" method="POST">
            <input type="text" value="" placeholder="Username" name="username" required><br />
            <input type="password" value="" placeholder="Password" name="password" required>
            <input type="password" value="" placeholder="Re-Password" name="passwordvalidation" required><br />
            <input type="submit" class="button button-primary" value="Create your account">
        </form>
    {% endif %}
{% endblock %}
