{% extends "layout.html" %}
{% block body %}
    {% if not session.logged_in %}
        <h3>Authentification : </h3>
        <form action="/login" method="POST">
            <input type="text" value="" placeholder="Username" name="username" required><br />
            <input type="password" value="" placeholder="Password" name="password" required><br />
            <input type="submit" class="button button-primary" value="Log in">
        </form>
    {% endif %}
    {% if session.logged_in %}
        <a href="{{ url_for('logout') }}" class="button button-primary">log out</a><br>
        <h3>Twitter : </h3>
        <a href="https://dev.twitter.com/oauth/overview/application-owner-access-tokens" target="_blank">Where can I found my token ?</a>
        <form action="/twitter" method="POST">
            <input type="text" value="" placeholder="Token" name="token"><br />
            <input type="text" value="" placeholder="Secret Token" name="secrettoken"><br />
            <input type="submit" class="button button-primary" value="Submit">
        </form>
    {% endif %}
{% endblock %}
